<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="br.com.curitibasoftware.cenourapp"
        version="1.0.0">
  <name>
    Só de Cenoura
  </name>
  <description>
    Menu do restaurante Só de Cenoura.
  </description>
  <author href="http://curitibasoftware.com.br" email="contato@curitibasoftware.com.br">
    Curitiba Software
  </author>
  <preference name="orientation" value="portrait"></preference>
  <preference name="fullscreen" value="true"></preference>
  <preference name="permissions" value="none"></preference>
  <preference name="android-minSdkVersion" value="16"></preference>
  <platform name="android" />
  <icon src="imagens/icon.png" />
  <plugin name="cordova-plugin-splashscreen" />
  <splash src="imagens/splash.png" />
</widget>